* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48pt;
}

p {
    font-family: 'Lora', Serif;
    font-size: 14pt;
}

#profile {
    border-radius: 50%;
    border: solid 4px white;
    width: 100px;
}

#under-construction {
    background-color: rgba(18, 27, 77, 0.822);
    color: white;
}

#background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#flex-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}